@charset "utf-8";
@font-face {
    font-family: "SourceHanSansJP-Heavy"; /*任意のフォントファミリー名でOK*/
    src: url("/font/SourceHanSansJP-Heavy.otf") format("opentype"); /*fontがあるパスを書いて、formatを指定*/
    font-display: swap; /*ダウンロード状況に応じてフォントの表示を変える */
  }
/********* 全体 *********/
HTML, BODY{
    height: 100%;
}
BODY{
    /* font-family: "ヒラギノ角ゴ", "Meiryo UI", "メイリオ", "Osaka"; */

    font-family: "SourceHanSansJP-Heavy", "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "BIZ UDPGothic",
    "Meiryo UI",
    sans-serif;

    background-color: black;
    color: white;
    margin: 0 8px;
    padding: 0 0 0 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 14px;
}
.red{
    color: red;
}
.black{
    color: black;
}
.hr-red{
    border-top: 2px dotted red;
    border-bottom: 1px dotted darkred;
}
A{
    color:inherit;
}
.text{
    margin-left: 5px;
    padding-bottom: 20px;
    line-height: 20px;
    padding-left: 10px;
}
@media screen and (max-width: 400px){
    .text{
        font-size: 14px;
        line-height: 15px;
        padding-left: 5px;
    }
}
.mini{
    font-size: 12px;
    line-height: 14px;
}
.bold{
    font-weight: bold;
}
.date{
    margin-left: 10px;
    font-size: 12px;
}
.flash{
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
    margin-left: 4px;
    animation: flashing 1s ease-in-out infinite alternate;
}
@keyframes flashing {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* 見出し */
H1{
    padding: 0.25px 0;
    padding-left: 10px;
}
H1::after{
    content: "";
    display: block;
    height: 4px;
    background: -webkit-linear-gradient(to right, #b789cc, transparent);
    background: linear-gradient(to right, #b789cc, transparent);
    transform: translateX(-100%);
    animation: back-slidein 1s forwards;
    margin-left: -10px;
}
@keyframes back-slidein{
    0% {
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
/* infoの記事タイトル用 */
H2{
    font-size: 20px;
    color: #3d2946;
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #b789cc;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
    padding-left: 5px;
    padding-top: 15px;
    margin: -15px 0 10px 0;
}
@media screen and (max-width: 400px){
    H2{
        font-size: 15px;
    }
}
/* アルバムタイトル用 */
H3{
    font-size: 20px;
    padding-left: 15px;
    padding-top: 15px;
    margin: -15px 0 10px 0;
}
@media screen and (max-width: 400px){
    H3{
        font-size: 19px;
    }
}
/* サブスク等見出し */
H4{
    margin-top: 5px;
    margin-bottom: 5px;
}
/* SNSリンク用 */
H6{
    padding: 0px 10px;
    border-top: 1px solid #b789cc;
    border-bottom: 1px solid #b789cc;
    font-size: 12px;
    margin: 10px 0 10px 0;
    background: black;
}
@media screen and (max-width: 400px){
    H6{
        font-size: 15px;
        margin: 3px 0 17px 0;
    }
}

/********* ヘッダー関連 *********/
HEADER{
    background: black;
    position: sticky;
    top: 0; left: 0;
    width: 100%;
    height: 120px;
    padding: 5px 0;
}
.layout-top{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: end;
}
@media screen and (max-width: 400px){
    .layout-top{
        width: 100%;
        display:contents ;
    }
}
.layout-top IMG{
    display: block;
    max-width: 222px;
    height:fit-content;
}
.layout-top IMG:hover{
    filter: brightness(0.8);
}
.menu{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 0px;
}
.menu A{
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: white;
    background: linear-gradient(rgb(223, 137, 231), #3d2946);
    border: 1px solid black;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    width: 25%;
    padding: 4px;
    margin-right: 3px;
    transition: 0.3s;
}
.menu A:hover{
    color: black;
    background: linear-gradient(rgb(255, 255, 255), #b789cc);
    cursor: pointer;
}
@media screen and (max-width: 400px){
    .menu A{
        font-size: 10px;

        padding: 4px 1px;
    }
}

/********* メインコンテンツ関連 *********/
.contents{
    width: 100%;
    padding-bottom: 40px;
    overflow: auto;
}
@media screen and (max-width: 400px){
    .contents OL{
        margin-left: -5%;
        line-height:normal;
    }
    .contents LI{
        font-size: 15px;
    }
}
/* profile */
.layout-profile{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: end;
}
@media screen and (max-width: 400px){
    .layout-profile{
        display: contents;
        max-width: 380px;
    }
}
IMG.img-profile{
    width: 30%;
    max-width: 50%;
    height: auto;
    max-height: 50%;
    animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
@keyframes fadeup{
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* release */
.layout-release{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    margin-bottom: 10px;
}
@media screen and (max-width: 400px){
    .layout-release{
        display: contents;
    }
}
IMG.img-release{
    width: 400px;
    height: 400px;
    margin-left: 20px;
}
@media screen and (max-width: 400px){
    IMG.img-release{
        width: auto;
        height: 260px;
        margin-left: 10px;
    }
}
.layout-subscribe{
    margin-left: 15px;
}
@media screen and (max-width: 400px){
    .layout-subscribe{
        margin-left: 10px;
    }
}
IFRAME.video{
    border: 4px solid #3d2946;
    width: 560px;
    height: 315px;
}
@media screen and (max-width: 400px){
    IFRAME.video{
        border: 2px solid #3d2946;
        width: 340px;
        height: 190px;
    }
}
/* download */
.layout-download{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    margin-bottom: 10px;
}
@media screen and (max-width: 400px){
    .layout-download{
        display: contents;
    }
}
IMG.img-download{
    width: 400px;
    height: 400px;
    margin-left: 20px;
}
@media screen and (max-width: 400px){
    IMG.img-download{
        width: auto;
        height: 260px;
        margin-left: 10px;
    }
}
/********* フッター関連 *********/
FOOTER {
    position: fixed; /* フッターを固定する */
    height: 30px;
    bottom: 0; /* 上部から配置の基準位置を決める */
    left: 0; /* 左から配置の基準位置を決める */
    width: 100%; /* フッターの横幅を指定する */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5px 0;
    background: -webkit-linear-gradient(to right, #b789cc, transparent);
    background: linear-gradient(to right, #b789cc, transparent);
}